* {
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: #FFF;
	margin: 0;
	font-family: 'Segoe UI', Helvetica, Neue, Helvetica, Lucida Grande, Arial;
}

a {
	text-decoration: none;
}

.app {
	display: flex;
	width: 100%;
	padding-left: 7%;
    background-repeat: no-repeat;
    background-size: cover;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d9/Bright_Camp_House_in_Dark_Woods_%2821935549498%29.jpg);
}

.content-area {
	flex: 1;
	background-color: rgba(35, 24, 48, 0.9);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	padding-top: 70px;
}

.sidebar {
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
    width: 7%;
	max-width: 415px;
	height: 100vh;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	background-color: #101010;
    overflow-y: auto;

	a {
		color: rgb(145, 145, 145);
		font-size: 12px;
	}

	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
	
	&::-webkit-scrollbar-thumb {
		background-color: #464646;
	}
}

nav {
    padding-top: 70px;
}

.sidebar-elements {
	display: flex;
	flex-direction: column;
}

.sidebar-elements div:nth-child(2) {
	border-bottom: 1px solid rgba(148, 148, 148, 0.151);
}

.element {
	width: 100%;
	padding: 0;
	height: 60px;
	color: #FFF;

	a {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	a.active {
		color: rgb(216, 216, 216);
		background-color: rgb(221, 20, 87);
	}
}

.element a svg {
	width: 100%;
	align-self: center;
}

.element a p {
	width: 100%;
	margin: 0;
	text-align: center;
}

.element:hover {
	background-color: rgb(221, 20, 87);
}
